@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background: #49b1de;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    display:block
}
footer {
    display: block;
    background: #0f120f;
    margin: 0;
    padding: 0;
}
img.tel {
    padding: 2%;
    width: 30px;
    height: auto;
}
img.tel:hover {
    content: url(pic/telegram2.png);
}
img.inst {
    padding: 2%;
    width: 30px;
    height: auto;
}
img.inst:hover {
    content: url(pic/instagram2.png);
}
img.dis {
    padding: 2%;
    width: 30px;
    height: auto;
}
img.dis:hover {
    content: url(pic/discord2.png);
}
img.yt {    
    padding: 2%;
    width: 30px;
    height: auto;
}
img.yt:hover {
    content: url(pic/youtube2.png);
}
